<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/octicons/octicons.css">
		<link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-xs-right">
						<li class="nav-item">
							<a href="/" class="nav-link">Almoxarifado</a>
						</li>
						<li class="nav-item">
							<a href="/achados-e-perdidos" class="nav-link">Achados e perdidos</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-success" href="/item/novo">Adicionar item</a>
						</li>
					</ul>
				</nav>
				<h3 class="text-muted"><%= name %></h3>
			</div>
			<% include messages %>
