<% if ('object' === typeof messages) { %>
	<% if ('object' === typeof messages.error) { %>
		<div class="alert alert-danger alert-dismissible fade in">
			<button class="close" type="button" data-dismiss="alert">&times;</button>

			<% messages.error.forEach(function(message) { %>
				<p><strong><%- message %></strong></p>
			<% }); %>

			<% if ('[object Array]' === Object.prototype.toString.call(messages.db)) { %>
				<% for (var key in messages.db) { %>
					<% if (! messages.db.hasOwnProperty(key)) continue; %>
					<% for (var field in messages.db[key].errors) { %>
						<% if (! messages.db[key].errors.hasOwnProperty(field)) continue; %>
						<p>&#8226; &nbsp;<%- messages.db[key].errors[field].message %></p>
					<% } %>
				<% } %>
			<% } %>
		</div>

	<% } if ('object' === typeof messages.info) { %>
		<div class="alert alert-info alert-dismissible fade in">
			<button class="close" type="button" data-dismiss="alert">&times;</button>

			<% messages.info.forEach(function(message) { %>
				<p><strong><%- message %></strong></p>
			<% }) %>
		</div>

	<% } if ('object' === typeof messages.success) { %>
		<div class="alert alert-success alert-dismissible fade in">
			<button class="close" type="button" data-dismiss="alert">&times;</button>

			<% messages.success.forEach(function(message) { %>
				<p><strong><%- message %></strong></p>
			<% }) %>
		</div>
	<% } %>
<% } %>
