<div class="modal fade" id="modal-item-info" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Informações do item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3">
						<strong>Descrição</strong>
					</div>
					<div class="col-md-9">
						<span class="item-descricao"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Comentário</strong>
					</div>
					<div class="col-md-9">
						<span class="item-comentario"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Quantidade</strong>
					</div>
					<div class="col-md-9">
						<span class="item-quantidade"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Tipo</strong>
					</div>
					<div class="col-md-9">
						<span class="item-tipo"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Data</strong>
					</div>
					<div class="col-md-9">
						<span class="item-data"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary btn-fechar" type="button" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div><!-- #modal-item-info -->
