<div class="modal fade" id="modal-item-editar" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Editar</h4>
			</div>
			<div class="modal-body">
				<p>Campos para editar o item</p>
			</div>
			<div class="modal-footer">
				<form action="/item/editar" method="post">
					<input type="hidden" name="id">
					<button class="btn btn-secondary" type="reset" data-dismiss="modal">Cancelar</button>
					<button class="btn btn-success btn-salvar" type="submit">Salvar</button>
				</form>
			</div>
		</div>
	</div>
</div><!-- #modal-item-editar -->
