<div class="modal fade" id="modal-item-delete" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>

				<h4 class="modal-title">Remover item</h4>
			</div>
			<div class="modal-body">
				<p>Tem certeza que deseja remover este item?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="reset" data-dismiss="modal">Cancelar</button>
				<a class="btn btn-danger btn-delete" href="#">Excluir</a>
			</div>
		</div>
	</div>
</div><!-- #modal-item-delete -->
