<% include templates/cabecalho %>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="row ">
						<h4 class="col-md-9">Achados e Perdidos</h4>
						<div class="col-md-3">
							<a class="btn btn-success btn-block" href="/item/criar">Novo item</a>
						</div>
					</div>
				</div>
				<% if (typeof itens === undefined || itens.length < 1) { %>
					<div class="card-block">
						<p>Nenhum registro encontrado</p>
					</div>
				<% } else { %>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Descrição</th>
								<th style="width: 220px;">Comentário</th>
								<th style="width: 120px; text-align: center;">Data</th>
								<th style="width: 120px; text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
							<% itens.forEach(function(item) { %>
								<tr data-item-id="<%= item.id %>">
									<td><%= item.descricao %></td>
									<td><%= item.comentario %></td>
									<td style="text-align: center;"><%= moment(item.data).format('DD/MM/Y') %></td>
									<td style="text-align: center;">
										<button class="btn btn-secondary btn-sm item-editar">
											<span class="octicon octicon-pencil"></span>
										</button>
										<button class="btn btn-secondary btn-sm item-excluir">
											<span class="octicon octicon-trashcan"></span>
										</button>
									</td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				<% } %>
			</div><!-- .card -->
		</div><!-- .col-md-12 -->
	</div><!-- .row -->
	<% include item/modal-info %>
	<% include item/modal-editar %>
	<% include item/modal-excluir %>
<% include templates/rodape %>
