<% include partials/header %>
	<div class="row">
		<div class="content-header clearfix">
			<h4 class="col-md-12"><%= title %></h4>
		</div><!-- .content-header -->

		<div class="col-md-12">
			<pre><%= message %></pre>
		</div><!-- .col -->
	</div><!-- .row -->
<% include partials/footer %>
