<% include templates/header %>

	<br>
	<div class="row">
		<div class="col-md-8">
			<% include templates/almoxarifado %>
			<br>
			<% include templates/achados_e_perdidos %>
		</div>

		<div class="col-md-4">
			<% include templates/novo_item %>
		</div>
	</div>

<% include templates/footer %>
