<% include partials/header %>
	<div class="row">
		<div class="content-header clearfix">
			<h4 class="col-md-9">Almoxarifado</h4>
			<div class="col-md-3">
				<a class="btn btn-success btn-block" href="/item/novo">Adicionar item</a>
			</div>
		</div><!-- .content-header -->

		<div class="col-md-12">
			<% if (! hasItems) { %>
				<p class="text-muted">Nenhum registro encontrado.</p>
			<% } else { %>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Descrição</th>
							<th style="width: 100px; text-align: center;">Quantidade</th>
							<th style="width: 120px; text-align: center;">Ações</th>
						</tr>
					</thead>
					<tbody>
						<% items.forEach(function(item) { %>
							<% include item/loop %>
						<% }) %>
					</tbody>
				</table>
			<% } %>
		</div><!-- .col -->
	</div><!-- .row -->
	<% include item/modal-delete %>
<% include partials/footer %>
