<% include templates/header %>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="row ">
						<h4 class="col-md-9">Almoxarifado</h4>
						<div class="col-md-3">
							<a class="btn btn-success btn-block" href="/item/novo">Novo item</a>
						</div>
					</div>
				</div>
				<% if (typeof itens === undefined || itens.length < 1) { %>
					<div class="card-block">
						<p>Nenhum registro encontrado</p>
					</div>
				<% } else { %>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Descrição</th>
								<th style="width: 100px; text-align: center;">Quantidade</th>
								<th style="width: 120px; text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
							<% itens.forEach(function(item) { %>
								<% include item/loop %>
							<% }) %>
						</tbody>
					</table>
				<% } %>
			</div><!-- .card -->
		</div><!-- .col-md-12 -->
	</div><!-- .row -->
	<% include item/modal-info %>
	<% include item/modal-editar %>
	<% include item/modal-excluir %>
<% include templates/footer %>
