/**
 * Container
 */
.container { max-width: 900px; }

/**
 * Header
 */
.header {
  margin: 1.5em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #e5e5e5;
}

.content-header { margin-bottom: 1em; }

/**
 * Table
 */
.table tbody tr { cursor: pointer; }
.table tbody td.item-description { color: #0275d8; }

/**
 * Informações do item
 */
.item-info .item-comment {
  overflow: hidden;
  width: 220px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
