<div class="card">
	<h4 class="card-header">Almoxarifado</h4>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th style="width: 50px; text-align: center;"><input type="checkbox"></th>
				<th style="width: 50px; text-align: center;">#</th>
				<th>Descrição</th>
				<th style="width: 100px; text-align: center;">Quantidade</th>
				<th style="width: 120px; text-align: center;">Ações</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < 5; i++) { %>
				<tr>
					<td style="text-align: center;"><input type="checkbox"></td>
					<td style="text-align: center;"><%= i %></td>
					<td><a href="#">Item <%= i %></a></td>
					<td style="text-align: right;"><%= parseInt( Math.random() * (100 - 10) + 10 ) %></td>
					<td style="text-align: center;">
						<a class="btn btn-secondary btn-sm" href="#"><span class="octicon octicon-pencil"></span></a>
						<a class="btn btn-secondary btn-sm" href="#"><span class="octicon octicon-trashcan"></span></a>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div><!-- almoxarifado -->
